doctype

html

    include ./includes/head.jade
      
    body
      
        include ./includes/main.jade

        include ./includes/ga.jade


        script(src='https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js')
        script(src='/assets/js/app.js')
