doctype
   
html

   include ./includes/head.jade
      
   body
      
      include ./includes/content.jade
         
      script 
         include ../../assets/js/google-analytics.js
      
      script(src='../../assets/js/app.js')
