head

   title Milky - Your Front-end Starter Kit 
   meta(charset='utf-8')
   meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
   meta(http-equiv='X-UA-Compatible', content='IE=edge')
   meta(name='description', content='Put Whatever you want in this section, its for seo purposes')
   meta(name="viewport", content="width=device-width, initial-scale=1")
   link(rel='stylesheet', href='/assets/css/main.css')
